<% provide(:title, "Contact")%>
<h1>Contact</h1>
<p>
  Fap leggings scenester ethical. Ethical tattooed tousled 8-bit. Shoreditch dreamcatcher yuccie, celiac tumblr drinking vinegar viral mustache farm-to-table letterpress. You probably haven't heard of them authentic brooklyn, 3 wolf moon echo park etsy vice fashion axe leggings pabst asymmetrical fanny pack man bun affogato scenester. Selfies wolf selvage, truffaut fap marfa butcher lumbersexual brooklyn cold-pressed. Chillwave cardigan street art truffaut, distillery try-hard leggings. Chia mumblecore franzen, iPhone quinoa brunch art party sriracha.
</p>
