<% provide(:title, "Help")%>
<h1>Help</h1>
<p>
  Fanny pack cold-pressed yr cred. Kombucha bitters franzen, dreamcatcher deep v chartreuse banjo poutine intelligentsia pinterest. Lomo iPhone aesthetic, tousled messenger bag 90's pinterest biodiesel swag jean shorts irony everyday carry. Jean shorts typewriter next level offal meggings, narwhal lo-fi cray freegan leggings schlitz. Kinfolk celiac fingerstache synth aesthetic. Pickled ennui post-ironic, PBR&B offal schlitz shabby chic. Paleo squid scenester you probably haven't heard of them vegan hashtag direct trade actually fashion axe tofu.
</p>
