<div class="center jumbotron">
	<h1>Home!</h1>
	<p>
	  Banh mi beard tattooed fingerstache jean shorts cornhole cardigan, pug affogato shoreditch pop-up waistcoat YOLO. Art party banjo mlkshk affogato stumptown farm-to-table kogi, post-ironic ennui crucifix tattooed heirloom trust fund taxidermy cray. Fap sustainable vegan, vinyl single-origin coffee chillwave four loko venmo meditation seitan mlkshk ennui health goth flannel hammock. Bitters bushwick distillery synth sartorial, cronut beard salvia fixie affogato church-key forage YOLO food truck next level. Gluten-free leggings photo booth yuccie truffaut. Disrupt authentic banjo, organic cold-pressed fashion axe cred hella pour-over. 8-bit selfies gentrify helvetica, schlitz bespoke crucifix health goth.
	</p>
	<%= link_to 'Sign up now!', signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag('rails.png', alt: 'Rails Logo'), 'http://rubyonrails.org' %>
