@import 'bootstrap-sprockets';
@import 'bootstrap';

$white: #fff;
$hover_color: #C5D2D6;
$light_gray: #777;
$alert_danger: red;

/* mixins, variables, etc.. */

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* miscellaneous */
.debug_dump {
	clear: both;
	float: left;
	widows: 100%;
	margin-top: 45px;
	@include box-sizing; 
}

/* universal */

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;

	h1 {
		margin-bottom: 27px;
	}
}


/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 2.12rem;
}

h1 {
	font-size: 3.2rem;
	letter-spacing: -2px;
	margin-bottom: 30px;
	margin-top: 10px;
	text-align: center;
}

h2 {
	font-size: 2.2rem;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: 500;
	color: $light_gray;
}

p {
	font-size: 1.7rem;
	line-height: 4rem;
	text-align: justify;
}

/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 3rem;
	color: $white;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 4px;
	font-weight: 500;

	&:hover{
		color: $hover_color;
		text-decoration: none;
	}
}

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeeae;
	color: $white;

	a {
		color: #355;
	
		&:hover {
			color: #222;
		}
	}

	small {
		float: left;
	}

	ul {
		float: right;
		list-style: none;

		li {
			float: left;
			margin-left: 15px;
		}
	}
}

/* sidebar */

aside {
	section.user_info {
		margin-top: 20px;
	}

	section {
		padding: 10px 0;
		margin-top: 20px;

		&:first-child {
			border: 0;
			padding-top: 0;
		}

		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}

		h1 {
			font-size: 2.4rem;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0px;
		}
	}
}

.gravatar {
	float: left;
	margin-right: 10px;
}

.gravatar_edit {
	margin-top: 15px;
}

/* form */

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box-sizing;
}

input {
	height: auto !important;
}

#error_explanation {
	color: $alert_danger;

	ul {
		color: $alert_danger;
		margin: 0 0 30px 0;
	}
}

.field_with_errors {
	@extend .has-error;

	.form_control {
		color: $state-danger-text;
	}
}

.checkbox {
	margin-top: 10px;
	margin-bottom: 10px;

	span {
		margin-left: 20px;
		font-weight: 800;
	}
}

#session_remember_me {
	width: auto;
	margin-left: 0;
}

/*@import 'normalize'*/